/* ---- globals.css ---- */
/* Google font Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;

  /* --> fondo y texto global, covers everthing */
  background-color: #111111;      /* neutral-900 */
  color: #e5e5e5;                 /* gray-300 */
}


/* Tailwind core directives */
@tailwind base;
@tailwind components;
@tailwind utilities;
